wordpress-develop/**
!wordpress-develop/wp-config-sample.php
!wordpress-develop/src/
!wordpress-develop/src/wp-includes/
!wordpress-develop/src/wp-includes/update.php
!wordpress-develop/src/wp-admin/
!wordpress-develop/src/wp-admin/includes/
!wordpress-develop/src/wp-admin/includes/plugin.php

domain.com/**/dist

node_modules
package-lock.json
sftp-config.json
wp-config.php
.htaccess
.npmrc